PORT
DB_HOST
DB_PORT
DB_USERNAME
DB_PASSWORD
DB_DATABASE
JWT_SECRET
ESKIZ_EMAIL
ESKIZ_SECRET
ESKIZ_FROM
SUPER_ADMIN_PHONE
SUPER_ADMIN_PASSWORD
NODE_ENV
FRONTEND_URL

# Paylov to'lov tizimi
PAYLOV_BASE_URL
PAYLOV_TOKEN
PAYLOV_MERCHANT_ID
PAYLOV_WEBHOOK_SECRET
